.sidebar {
  will-change: transform, width;
  transition: transform 300ms ease-in-out, width 300ms ease-in-out;
}

.sidebar-header,
.nav-container,
.footer {
  transition: none;
}

.logo-container img {
  will-change: transform;
}

button, .group {
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out, transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

@media (min-width: 1024px) {
  .sidebar {
    transition: width 300ms ease-in-out;
  }
}